.details {
    padding-top: 80px;
    padding-bottom: 100px;

    @include respond-to(wide) {
        padding-top: 95px;
    };

    @include respond-to(phone-lend) {
        padding-top: 40px;
        padding-bottom: 50px;
    };

    @include respond-to(smartphone) {
        padding: 30px 0;
    };

    &__title {
        text-align: center;
        color:  #212121;
        font-family: $ffMP-Semibold-SemiCn;
        font-size: 3.499rem;
        font-weight: 600;

        @include respond-to(tablet) {
            font-size: 3rem;
        };

        @include respond-to(phone-lend) {
            font-size: 2rem;
        };

        @include respond-to(smartphone) {
            font-size: 21.33px;
        };
    }

    &__row {
        display: flex;
        justify-content: space-around;
        margin-top: 90px;

        @include respond-to(wide) {
            margin-top: 0;
        };

        @include respond-to(phone-lend) {
            flex-wrap: wrap;
            margin-top: 0;

            &:last-child {
                margin-top: 100px;

                .details__detail:first-of-type {
                    margin-top: 0;

                    .details__caption {
                        margin-top: 60px;
                    }
                }
            }
        };

        @include respond-to(phone-lend) {
            &:last-child {
                margin-top: 40px;
            }
        };
    }

    &__img-container {
        height: 150px;

        @include respond-to(phone-lend) {
            height: 200px;
        };

        @include respond-to(smartphone) {
            height: 150px;
        };
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__detail {
        display: inline-block;
        text-align: center;
        width: 40%;

        @include respond-to(wide) {
            margin-top: 90px;
            width: 100%;
        };

        @include respond-to(phone-lend) {
            margin-top: 40px;
        };

        @include respond-to(smartphone) {
            margin-top: 20px;
            max-width: 60%;
        };
    }

    &__caption {
        margin-top: 20px;
        font-family: $ffMP-Light;
        color:  #212121;
        font-size: 1.499rem;
        font-weight: 300;

        @include respond-to(wide) {
            color:  #212121;
            font-weight: 300;

        };

        @include respond-to(tablet) {

        };

        @include respond-to(phone-lend) {
            font-size: 1.5rem;
        };

        @include respond-to(smartphone) {
            font-size: 1rem;
        };
    }
}
