-
    var texts = [
        'При использовании смартфона на док-станции вам полностью доступна клавиша «Домой»',
        'Угол наклона смартфона оптимально подобран для удобной работы с ним',
        'Мягкие войлочные круги у основания док-станции защитят ваш стол от царапин',
        'Заряжайте смартфон как в вертикальном, так и горизонтальном положении'
        ]

section.comfort
    h2.comfort__title Все сделано для вашего комфорта
    .comfort__container.container
        - for (var i = 0; i < 4; i++)
            .comfort__text-block
                p.comfort__text= texts[i]
