section.composition
    h2.composition__title Ничего лишнего.
        br
        |Только камень и дерево.
    .composition__row
        .container
            .composition__block
                .composition__block-title Твердое дерево
                p.composition__block-text Верхняя часть док-станции сделана из благородной и твердой древесины. Для получения красивой и равномерной текстуры  мы используем массив дуба, в котором нет сучков и других дефектов.

    .composition__row
        .container
            .composition__block
                .composition__block-title Прочный камень
                p.composition__block-text Нижняя часть док-станции сделана из акрилового камня LG HI-MACS. Это композитный материал из акриловой смолы, минерального наполнителя и пигмента. Он прочнее натурального камня, устойчив к царапинам и пятнам.
