section.details
    .container
        h2.details__title Каждая деталь
            br
            |  проработана до мелочей
        .details__row
            .details__detail
                .details__img-container
                    img(src="img/detail1.png").details__img
                .details__caption Док-станция имеет массу 350 грамм, поэтому она устойчива и не вибрирует
            .details__detail
                .details__img-container
                    img(src="img/detail2.png").details__img
                .details__caption Увеличивается громкость звука, когда смартфон находится на док-станции
        .details__row
            .details__detail
                .details__img-container
                    img(src="img/detail3.png").details__img
                .details__caption Док-станцию можно использовать как с чехлом на смартфоне, так и без него
            .details__detail
                .details__img-container
                    img(src="img/detail4.png").details__img
                .details__caption Удобное включение
                    br
                    |зарядного кабеля
