include ../mixins/edge-data
include ../mixins/btn

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Harlem
        link(rel="stylesheet", href="css/style.css")
    body
        header.header
            .container
                +edge-data()
                .row
                    .col-lg-9
                        h1.header__title Используйте и одновременно заряжайте свой смартфон с  док-станцией из массива дуба и акрилового камня
                .row
                    .col-lg-6
                        p.header__text Выберите одну из 6 цветовых моделей. Бесплатная доставка по всей России в течение 3-х дней.
                +btn('Выбрать док-станцию', 'index.html#choose-device').header__btn
