include ../mixins/btn

section.life
    .container
        h2.life__title Док-станция    
            br.life__title-br
            | упростит вам жизнь
        p.life__text С ней вам будет удобно смотреть видео, получать уведомления и общаться по видеосвязи.
            br.life__text-br
            br.life__text-br
            | Вы сможете комфортно готовить еду, при этом не испачкав смартфон. В любой ситуации вы всегда будете отлично видеть экран.
        +btn('Выбрать док-станцию', 'index.html#choose-device').life__btn
