.popup.popup1
    .popup__window.popup1__window
        .popup1__content
            h2.popup1__title Спасибо за заказ!
            .popup1__text В течении 15 минут мы Вам перезвоним.
        a(href="#").popup1__close-btn
            img(src="img/close.png")
