section.quality
    .container
        .quality__subtitle Вы получите
        h2.quality__title БЕЗУПРЕЧНОЕ КАЧЕСТВО
        p.quality__text Изготовление одной док-станции занимает 9 дней. Большая часть времени производства — это стадии покрытия американским маслом и датским воском, а также полировка.
        br
        p.quality__text Обработка дерева выполняется по такому же принципу, как и обработка оружейного приклада. Внешний вид док-станции будет приносить вам эстетическое удовольствие.
