mixin edge-data()
    .edge-data&attributes(attributes)
        .edge-data__left-block
            a(href="#" title="Harlem").edge-data__logo
                img(src="img/logo.png")
            a(href="#" title="Harlem").edge-data__logo.edge-data__logo--1080
                img(src="img/logo_1080_bottom.png")
            .edge-data__text
                |Производство и продажа
                br
                |док-станций для смартфонов
        .edge-data__right-block
            a(href="tel:+7 (900) 235-36-74" title="Позвоните нам").edge-data__phone +7 (900) 235-36-74
            .edge-data__phone-description Звонок бесплатный
