include template/header
include template/details
include template/life
include template/composition
include template/quality
include template/choose-device
include template/comfort
include template/order-form
include template/footer

include template/popup1
include template/popup2
